* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Work Sans", sans-serif;
	font-weight: 400;
}

img,
svg {
	width: 100%;
}

/* Shared Style */

.text-light-gray {
	color: #727272;
}

.title {
	font-size: 2.8rem;
	font-weight: 700;
	color: #131313;
}

.button {
	font-size: 1.25rem;
	color: white;
	border-radius: 8px;
	background-color: #ff900e;
	padding: 20px 25px;
	border: none;
	cursor: pointer;
}

/* Header Area Styling Start */

/* Navbar Styling */
.header--section {
	background-color: hsl(32, 100%, 53%, 10%);
	padding: 50px 240px;
}

.header--section__navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header--section__menu > .header--section__links {
	display: flex;
	align-items: center;
	gap: 30px;
	list-style: none;
}

.header--section__links > .header--section__item {
	font-size: 1rem;
	font-weight: 500;
}

.header--section__item > a {
	text-decoration: none;
	color: #424242;
}

/* Banner Styling */
.header--section__banner {
	margin-top: 20px;
}

.header--section__banner--content {
	max-width: 800px;
	text-align: center;
	margin-inline: auto;
	margin-bottom: 20px;
}

.header--section__banner--title {
	font-size: 4rem;
	font-weight: 700;
	color: #131313;
}

.header--section__banner--description {
	margin-block: 30px;
}

.header--section__banner--image {
	text-align: center;
}

/* Header Area Styling End */

/* Main Area Styling  Start*/

main {
	max-width: 1440px;
	margin-inline: auto;
	margin-top: 70px;
}

/* Teams Section Styling */
.teams--section__container {
	display: flex;
	align-items: center;
}

.teams--section__image--container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.5rem;
	width: 50%;
	padding-left: 70px;
}

.teams--section__content {
	width: 50%;
	padding-left: 70px;
	padding-right: 70px;
}

.teams--section__title {
	font-size: 2.8rem;
}

.teams--section__title-normal {
	font-weight: 700;
}

.teams--section__title--quick {
	font-weight: 500;
}

.teams--section__title--features {
	color: #ff900e;
	font-weight: 700;
}

.teams--section__description {
	margin: 30px 0;
}

/* Features Section Styling */
.features--section {
	margin-top: 130px;
}

.features--section__container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.features--section__content {
	width: 40%;
}

.features--section__title {
	position: relative;
	padding-left: 20px;
}

.features--section__title::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 5px;
	background: #ff900e;
}

.features--section__description {
	margin-top: 30px;
}

.features--section__card {
	padding: 30px;
	margin-top: 20px;
	border-radius: 8px;
	background: white;
	box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.features--section__card--title {
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 15px;
}

.features--section__image {
	width: 50%;
}

.features--section__badge {
	text-align: center;
	background-color: #ff900e;
	border-radius: 8px;
	color: white;
	padding: 40px;
	width: 342px;
	position: relative;
	bottom: 110px;
	right: 100px;
}

.features--section__badge--title {
	font-size: 4.063rem;
	font-weight: 700;
}

.features--section__badge--stats {
	font-size: 1.563rem;
	font-weight: 500;
}

/* Facts Section Styling */

.facts--section {
	margin: 100px 0;
}

.facts--section__cards--container {
	margin-top: 80px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.facts--section__card--item {
	border: 1px solid #ff900e;
	border-radius: 8px;
	text-align: center;
	padding: 30px;
	width: 20%;
}

.facts--section__card--item > img {
	width: 45px;
}

.facts--section__card--stats {
	font-size: 2.8rem;
	color: #424242;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 600;
}

.facts--section__card--title {
	font-size: 1.25rem;
	font-weight: 600;
	margin-top: 5px;
}

/* Sponsors Section */

.sponsors--section__title,
.sponsors--section__description {
	max-width: 542px;
	margin-inline: auto;
	text-align: center;
}

.sponsors--section__description {
	margin-top: 30px;
}

.sponsors--section__logo--container {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sponsors--section__logo--container > img {
	width: 165px;
}

/* Main Area Styling  End*/

/* Responsive Media Query  Start */

/* Mobile Devices */
@media screen and (max-width: 576px) {
	/* Header Section */
	.header--section {
		padding: 20px;
	}

	.header--section__navbar {
		flex-direction: column;
	}

	/* Teams Section */
	.teams--section__container {
		flex-direction: column-reverse;
	}

	.teams--section__image--container {
		width: 100%;
		padding: 0;
		grid-template-columns: 1fr;
	}

	.teams--section__image--container > img {
		margin-inline: auto;
	}

	.teams--section__content {
		padding: 20px;
		width: 100%;
	}

	.teams--section__title,
	.teams--section__description {
		text-align: center;
	}

	.teams--section__button {
		margin-left: 50%;
		transform: translateX(-50%);
	}

	/* Features Section */
	.features--section__container {
		flex-direction: column;
		gap: 50px;
	}

	.features--section__content {
		width: 100%;
	}

	.features--section__title {
		margin: 0px 20px;
	}

	.features--section__description {
		padding: 0 20px;
	}

	.features--section__card {
		margin-inline: 20px;
	}

	.features--section__image {
		width: 100%;
		padding: 0 20px;
	}

	.features--section__badge {
		left: 50%;
		transform: translateX(-50%);
	}

	/* Facts Section */
	.facts--section__title,
	.facts--section__description {
		text-align: center;
		padding: 0 20px;
	}

	.facts--section__cards--container {
		flex-direction: column;
		gap: 20px;
		padding: 0 20px;
	}

	.facts--section__card--item {
		width: 100%;
	}

	/* Sponsors */

	.sponsors--section__title,
	.sponsors--section__description {
		padding: 0 20px;
	}

	.sponsors--section__logo--container {
		flex-direction: column;
		gap: 40px;
	}
}

/* Tablet Devices */
@media screen and (min-width: 577px) and (max-width: 1110px) {
	/* Header Section */
	.header--section {
		padding: 50px;
	}

	.header--section__navbar {
		flex-direction: column;
		gap: 20px;
	}

	/* Teams Section */
	.teams--section__container {
		flex-direction: column-reverse;
	}

	.teams--section__image--container {
		padding: 20px;
		width: 100%;
	}

	.teams--section__content {
		padding: 20px;
		width: 100%;
	}

	.teams--section__title,
	.teams--section__description {
		text-align: center;
	}

	.teams--section__button {
		margin-left: 50%;
		transform: translateX(-50%);
	}

	/* Features Section */
	.features--section__container {
		flex-direction: column;
		gap: 50px;
	}

	.features--section__content {
		width: 100%;
	}

	.features--section__title {
		margin: 0px 20px;
	}

	.features--section__description {
		padding: 0 20px;
	}

	.features--section__card {
		margin-inline: 20px;
	}

	.features--section__image {
		width: 100%;
		padding: 0 20px;
	}

	.features--section__badge {
		left: 0;
	}

	/* Facts Section */
	.facts--section__title,
	.facts--section__description {
		text-align: center;
		padding: 0 20px;
	}

	.facts--section__cards--container {
		flex-direction: column;
		padding: 0 20px;
		gap: 20px;
	}

	.facts--section__card--item {
		width: 100%;
	}

	/* Sponsors */

	.sponsors--section__title,
	.sponsors--section__description {
		padding: 0 20px;
	}

	.sponsors--section__logo--container {
		flex-direction: column;
		gap: 40px;
	}
}

/* Responsive Media Query  End */
